<!DOCTYPE html>
<html>
  <head>
    <title>Tjiu Suryanto</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<meta name="description" content="Tjiu Suryanto's website!">
		<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <script type="text/javascript" src="/javascripts/com1.js"></script>
    <script type="text/javascript" src="/javascripts/config.js"></script>
    <script type="text/javascript" src="/javascripts/jsterm.js"></script>
  </body>
</html>
